@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap'););



* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(53, 51, 51);
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 80px;
}

header {
    position: absolute;
    background-color: rgb(172, 146, 143);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    top:0;
    left:0;
}

header a {
    margin-left: 20px;
    text-decoration: none;
    color:black;
}

main h1 {
    color: aliceblue;
    font-size: 2em;
    text-decoration: underline;
    
    
}

#h1center {
    text-align: center;
    font-size: 1.8em;
    margin-top: 20px;
    font-family: Amatic Sc;
    font-weight: lighter;
    
   
}

#container1 {
    position: relative;  

}

#ver-fome {
    position: absolute;
    top:135px;
    left:155px;
    color:white;
    font-family: Amatic Sc;
    font-size: 30px;
    
}

#ver-qi {
    position: absolute;
    top:135px;
    left:560px;
    color:white;
    font-family: Amatic Sc;
    font-size: 30px;
}

#ver-mais {
    position: absolute;
    top:135px;
    left:990px;
    color:white;
    font-family: Amatic Sc;
    font-size: 30px;
}

#fome {
    position: absolute;
    width: 300px;
    height: 400px;
    
    background-image: url("Imagens/fome.jpg");
    background-position: right center;
    background-size: cover;
    border-radius: 20px;
    transition-duration: 0.6s;

    left:100px;
    top:10px;
}


#fome:hover {
    width: 310px;
    height: 410px;
}



#Qi {
    position: absolute;
    width: 300px;
    height: 400px;
    background-image: url("Imagens/Qi.jpg");
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    transition-duration: 0.6s;

    top:10px;
    left:500px;
}

#Qi:hover {
    width: 310px;
    height: 410px;
}

#mais {
    position: absolute;
    width: 320px;
    height: 400px;
    background-image: url("Imagens/grafic.jpg");
    border-radius: 25px;
    background-position: center center;
    background-size: cover;
    transition-duration: 0.6s;
    

    top:10px;
    left:900px;

}

#mais:hover {
    width: 320px;
    height: 410px;
}

